@{
    ViewData["Title"] = "Главная";

    DateTime firstDatePickerDate = DateTime.Now.AddMonths(-1);
    string dayFirstDatePicker = getCorrectDayOrMonth(firstDatePickerDate.Day);
    string monthFirstDatePicker = getCorrectDayOrMonth(firstDatePickerDate.Month);
    string valueFirstDatePicker = $"{firstDatePickerDate.Year}-{monthFirstDatePicker}-{dayFirstDatePicker}";

    DateTime secondDatePickerDate = DateTime.Now;
    string daySecondDatePicker = getCorrectDayOrMonth(secondDatePickerDate.Day);
    string monthSecondDatePicker = getCorrectDayOrMonth(secondDatePickerDate.Month);
    string valueSecondDatePicker = $"{secondDatePickerDate.Year}-{monthSecondDatePicker}-{daySecondDatePicker}";

    string getCorrectDayOrMonth(int dayOrMonth)
    {
        return dayOrMonth >= 10 ? dayOrMonth.ToString() : $"0{dayOrMonth}";
    }
}

<div class="text-center">
    <button 
        type="button" 
        class="btn btn-primary"
    >
        Добавить заказ
    </button>
    <div class="row">
        <div class="col">
            <input type="date" id="firstDatePicker" value="@valueFirstDatePicker"/>
            <input type="date" id="secondDatePicker" value="@valueSecondDatePicker" />
            <select size="4" multiple>
@*                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>*@
            </select>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
               <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
               </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>123</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>123</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>123</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
